.container {
  height: 600px;
  margin-top: 60px;
  margin-left: 30px;
}

.title{
  font-family: "calibri";
  font-size: 35px;
  font-weight: 800;
  color: darkslateblue;
  line-height: 50px;
}

.details{
  font-size: 20px;
  line-height: 50px;
  margin-top: 100px;
}