<!-- <div *ngIf="show">
  <img [src]="image" />
</div> -->
<div class="diamond"></div>
<div class="wrapper" fxLayout="row">
  <div class="settings" fxFlex="18"></div>
  <div class="container" fxLayout="column">
    <div class="intro" fxLayout="row" fxLayoutAlign="center center">
      <div class="wording" fxFlex="100">
        <p>Bin Manager</p>
      </div>

      <!-- <div class="image" fxFlex="60"></div> -->
    </div>

    <div class="bins" fxLayout="row wrap" fxLayoutAlign="center center">
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
      <app-bin-card></app-bin-card>
    </div>
  </div>
</div>
