<div class="container" fxLayout="column">
  <div class="intro" fxLayout="row" fxLayoutAlign="center center">
    <div class="wording" fxLayout="row" fxLayoutAlign="center center">
      <p style="text-align: center">
        Let's Unite <br />
        & <br />
        Save Environment
      </p>
    </div>
    <div class="image" fxFlex="60"></div>
  </div>

  <div class="product" fxLayout="row">
    <div fxLayout="column">
      <div style="margin: 100px" fxLayout="row" fxLayoutAlign="center center">
        <mat-card>
          <!-- <mat-card-title class="title">
            Introduction
          </mat-card-title> -->
          <mat-card-content class="card-content">
            <p>
              United Nations 15th goal "Life on Lands" deals with protecting,
              restoring and promoting sustainable use of ecosystems and halt bio
              diversity loss. Plastic waste entering fresh water sources such as
              rivers and ultimately ending in oceans poses a threat to
              ecosystems. This plastic waste can cause problems for wild life
              and fish, which can have adverse effects on biodiversity in the
              ecosystem.
            </p>
            <p>
              Hence, Our solutions deal with removing the plastic andother forms
              of litter from water ways to save the biodiversity in that
              ecosystem. We thought “If we can have rubbish bins on land, then
              why not have them in the ocean?”. So <b>“AquaSieve“</b> is a
              rubbish bin like floating device which filters water from a river
              or sea and collects plastic litter. We think this device will make
              a huge impact on the fight to save biodiversity.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
