<mat-card class="card mat-elevation-z3">
  <mat-card-title>Bin No : 4315</mat-card-title>
  <mat-card-subtitle>Bin Tag : Negombo Hemilton 01</mat-card-subtitle>

  <img
    mat-card-image
    src="https://srilankanexpeditions.lk/tour_img/150451978011.jpg"
    alt="Photo of a Shiba Inu"
  />
  <!-- <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content> -->
  <div
    class="actions"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="12px"
  >
    <button color="primary" mat-raised-button (click)="navigate('profile')">
      BIN PROFILE
    </button>
    <button color="primary" mat-raised-button>EDIT</button>
  </div>
</mat-card>
