<div class="center">
    <div class="cardDet">
        <div class="prof-pic">
            <img class="rounded-circle" src="../../../assets/images/10.jpg" alt="Profile-Picture" height="250px"
                width="250px">
        </div>
        <div>
            <table class="profile">
                <tr>
                    <td align="right">Bin ID :</td>
                    <td align="left">B001</td>
                </tr>
                <tr>
                    <td align="right">Area :</td>
                    <td align="left">Pettah</td>
                </tr>
                <tr>
                    <td align="right">Bin Status :</td>
                    <td align="left">Filled</td>
                </tr>
            </table>
        </div>
    </div>
</div>